.og__ogdozen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background: var(--gradient-bar)
}

.og__ogdozen-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff;
}

.og__ogdozen-content p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}

.og__ogdozen-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.og__ogdozen-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 1050px) {
    .og__ogdozen {
        flex-direction: column;
    }

    .og__ogdozen-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .og__ogdozen-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .og__ogdozen-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .og__ogdozen-content__people {
        flex-direction: column;
    }

    .og__ogdozen-content__people p {
        margin: 0;
    }

    .og__ogdozen-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .og__ogdozen-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .og__ogdozen-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .og__ogdozen-content__input button {
        font-size: 12px;
        line-height: 16px;
    }


}