.og__header {
    display: flex;
    flex-direction: row;
}

.og__header-image {
    flex: 1;
    justify-content: center;
    align-self: center;
}

.og__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.og__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.og__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.og__header-content .smalltext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 0.5rem;
}

.og__header-content__input button {
    min-height: 50px;
    min-width: 150px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-button);
    border: 2px solid var(--color-button);
    margin: 2px;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-radius: 5px;
}

.og__header-content__input .plusminus {
    min-width: 10px;
}

@media screen and (max-width: 1050px) {
    .og__header {
        flex-direction: column;
    }

    .og__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .og__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .og__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .og__header-content__people {
        flex-direction: column;
    }

    .og__header-content__people p {
        margin: 0;
    }

    .og__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .og__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .og__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .og__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }


}